.App{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header{
    height: 60px;
    display: flex;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 0.1px solid rgb(236, 235, 235);
    align-items: center;
    gap: 50px;

}

.content{
    display: flex;
    width: 100%;
}
.left{
    display: flex;
    width: 65%;
    flex-wrap: wrap;
   
    justify-content: center;
    gap: 30px;
}
.shoe_container{
 width: 32%;
background-color: rgb(255, 255, 255);
 display: flex;
 flex-direction: column;

 align-items: center;
 border: 0.1px solid rgb(236, 234, 234);
 justify-content: center;
 border-radius: 7px;

 
}
.shoe_container>img{
    width: 200px;
    height: 200px;
}
.right{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 30%;
    height: 100%;
    border: 0.1px solid rgb(228, 224, 224);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.list_left>img{
 width: 50px;
 height: 50px;
}
.list_left{
    height: 90px;
    display: flex;
    align-items: center;
    
}
.inside_list{
    display: flex;
    justify-content: center;
    border: 0.1px solid rgb(218, 215, 215);
    border-radius: 7px;
  
}
.list_right{
    display: flex;
    flex-direction: column;
   
    height: 90px;
    width: 60%;
    justify-content: flex-start;
}
.last_btns{
    width: 20%;
    display: flex;

   align-items: end;
   justify-content: center;
   gap: 10px;
   font-size: large;
}
.minus,.plus{
    width: 20px;
    height: 20px;
    background-color: rgb(201, 177, 127);
    cursor: pointer;
}
.list{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   background-color: whitesmoke;
  gap: 5px;
    padding: 10px;
}
.shoe_details{
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 182, 149);
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    align-items: center;
    height: 50%;
}
.shoe_name{
    font-size: x-large;
    font-weight: 600;
}
.add_cartBtn{
    border: 0.1px solid black;
    border-radius:10px;
    height: 30px;
    width: 95px;
    cursor: pointer;
}
.header>img{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
.shoe_container:hover{
 transform: scale(1.1);
  border: 0.1px solid rgb(219, 214, 214);

}
.cart_btn_pyt{
    width: 60%;
    padding: 10px;
    background-color: rgb(204, 179, 133);
    cursor: pointer;
    border-radius: 7px;
    color: white;
}
.payment_container{
    width: 60%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
label{
    font-size: large;
    font-weight: 600;
}
.confirm_btn{
    background-color: rgb(185, 175, 140);
    padding: 10px;
    width: 30%;
    border-radius: 7px;
    cursor: pointer;
}
.credit_card_box{
display: flex;
width: 50%;
flex-direction: column;
border: 0.1px solid grey;
padding: 20px;
border-radius: 10px;
}
.credit_card_box>input{
    padding: 15px;
    border-radius: 5px;
    outline: none;
    border: 0.1px solid rgb(206, 206, 206);
}
.confirm_payment_btns{
    width: 50%;
    display: flex;
    align-items: center;
   
    justify-content: center;
}